#guest-main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem /* 24px */;
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

#guest-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.75rem /* 12px */;
}

#guest-logo-img {
  width: 5rem /* 80px */;
  height: 5rem /* 80px */;
}

#guest-logo-text {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
  font-weight: 700;
  font-family: Inter;
}

#guest-children-main-container {
  width: 100%;
  max-width: 28rem /* 448px */;
  margin-top: 1.5rem /* 24px */;
  padding-top: 1rem /* 16px */;
  padding-bottom: 1rem /* 16px */;
  padding-left: 1.5rem /* 24px */;
  padding-right: 1.5rem /* 24px */;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  overflow: hidden;
  border-radius: calc(var(--radius) - 4px);
}
